*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: 'Poppins';
    font-size: 22px;
}

.container {
    background-color: black;
    color: white;
    overflow: auto;
}

nav {
    float: right;
}

.logo img {
    padding-top: 15px;
}

nav {
    padding-top: 35px;
}

ul li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    font-family: raleway;
    color: white;
}
ul li a{
   text-decoration: none;
   color:white
}
ul li a:hover {
    color: rgb(137, 36, 137);
}
ul li:hover {
    color: rgb(137, 36, 137);
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
}

.bgimg {
    background-position: center;
    background-size: cover;
    background-image: url(img/backg.jpg);
    width: 100%;
    height: 400px;
    background-color: black;
    overflow: hidden;
    opacity: 0.8;
}

.display-middle {
    text-align: center;
    padding-top: 170px;
}

.middle {
    height: 200px;
    text-align: center;
    padding-top: 70px;
    background-color: rgb(93, 8, 109);
}

.bg {
    background: rgb(32,3,29);
    background: radial-gradient(circle, rgb(32, 2, 29) 36%, rgba(0,0,0,1) 100%);
}

.leftContainer {
    padding-top: 50px;
    height: 300px;
    width: 50%;
    text-align: center;
}

.leftContainer p {
    font-size: 10px;
}

.btn {
    padding: 0.75rem;
    margin-top: 29px;
    display: block;
    text-decoration: none;
    background-color: rgb(62, 4, 55);
    color: white;
    text-align: center;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 220px;
}

.btn:hover {
    border-color: white;
    background-color: rgb(28, 17, 12);
}

.map-img {
    background-image: url(img/maps.png);
    ;
}

.heading{
    text-align: center;
    padding-top: 160px;
}