<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="home.css">
   <title>Home</title>
</head>
<body>
   <section class="firstbox">
      <div class="circle"></div>
      <header>
         <a href="" class="logo"><img src="images/logo.png" alt="here is logo"></a>
         <!-- navbar start -->
<ul>
   <li class="class"><a href="home.html">Home</a></li>
   <li class="class"><a href="about.html">About us</a></li>
   <li class="class"><a href="">Contact us</a></li>
   <li class="class"><a href="">Reviews</a></li>
   <li class="class"><a href="">Store</a></li>
   <li class="class"><a href="">Account</a></li>
</ul>

         <!-- navbar ends -->
      </header>
      <div class="contents">
         <div class="textbox">
            <h2>Lorem ipsum <br> <span>Lorem</span></h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum saepe cum ex perspiciatis a aspernatur!</p>
            <a href="about.html">Learn more</a>
         </div>
         <div class="imgbox">
            <img src="images/img1.png"class="temp" alt="">
         </div>
      </div>
      <ul class="thumb">
         <li><img src="images/thumb1.png" onclick="imgsli('images/img1.png'); cccolor('#846DCF')" alt=""></li>
         <li><img src="images/thumb2.png" onclick="imgsli('images/img2.png'); cccolor('#846DCF')" alt=""></li>
         <li><img src="images/thumb3.png" onclick="imgsli('images/img3.png'); cccolor('#846DCF')" alt=""></li>
      </ul>
      <ul class="social">
         <li><a href=""><img src="images/facebook.png" alt=""></a></li>
         <li><a href=""><img src="images/twitter.png" alt=""></a></li>
         <li><a href=""><img src="images/instagram.png" alt=""></a></li>
      </ul>
   </section>
   
  <section class="product mtop">
   <div class="heading">
     <h5>Online Store </h5>
     <h2>Featured Products</h2>
   </div>

   <div class="content grid mtop">
     <div class="box">
       <div class="img">
         <img src="images/p1.jpg" alt="">
       </div>
       <div class="text">
         <div class="rate flex">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
         </div>
         <h4>Peru Whole Bean</h4>
         <h5>$42.49</h5>
       </div>
     </div>
     <div class="box">
       <div class="img">
         <img src="images/p2.jpg" alt="">
       </div>
       <div class="text">
         <div class="rate flex">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
         </div>
         <h4>Peru Whole Bean</h4>
         <h5>$42.49</h5>
       </div>
     </div>
     <div class="box">
       <div class="img">
         <img src="images/p3.jpg" alt="">
       </div>
       <div class="text">
         <div class="rate flex">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
         </div>
         <h4>Peru Whole Bean</h4>
         <h5>$42.49</h5>
       </div>
     </div>
     <div class="box">
       <div class="img">
         <img src="images/p4.jpg" alt="">
       </div>
       <div class="text">
         <div class="rate flex">
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
           <i class="fas fa-star"></i>
         </div>
         <h4>Peru Whole Bean</h4>
         <h5>$42.49</h5>
       </div>
     </div>
   </div>
  <a href="#" class="shopnow">Shop Now</a>
 </section>
   
 <section class="staticimage">

 </section>

 <section class="aboutus">
   <div class="heading">
      <h5>About us </h5>
      <h2>Serving Since 2010</h2>
    </div>
   <div class="varr">
    <div class="row">
      <div class="row1">
          <h1 class="mb-3">Our Story</h1>
          <h5 class="mb-3">Eos kasd eos dolor vero vero, lorem stet diam rebum. Ipsum amet sed vero dolor sea</h5>
          <p>Takimata sed vero vero no sit sed, justo clita duo no duo amet et, nonumy kasd sed dolor eos diam lorem eirmod. Amet sit amet amet no. Est nonumy sed labore eirmod sit magna</p>
      </div>
      <div class="row2" style="max-height: 500px;">
          <div class="position-relative h-100">
              <img class="imgabout" src="images/about.png" style="object-fit: cover;">
          </div>
      </div>
      <div class="row3">
          <h1 class="mb-3">Our Vision</h1>
          <p>Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos, ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est dolor</p>
          <a href="about.html" class="tempbtn">Learn More</a>
      </div>
  </div>
   </div>

 </section>
 <div class="footer">
  <div>
      <img class="logo" src="images/logo.png">
  </div>
  <div class="footer-navigation">
      <span> <a href="home.html">Home</a>  </span>
      <span> <a href="about.html">About</a>  </span>
      <span> <a href="">Contact us</a>  </span>
      <span> <a href="">Reviews</a>  </span>
      <span> <a href="">Store</a>  </span>
      <span> <a href="">Account</a>  </span>
  </div>
  <div class="social-media">
      <img src="images/facebook.png">
      <img src="images/instagram.png">
      <img src="images/twitter.png">
  </div>
</div>
   <script  src="home.js"></script>
</body>
</html>